<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Cardio: Free One-Page Template by Luka Cvetinovic{% endblock %}</title>
    <meta name="description" content="Cardio is a free one page template made exclusively for Codrops by Luka Cvetinovic" />
    <meta name="keywords" content="html template, css, free, one page, gym, fitness, web design" />
    <meta name="author" content="Luka Cvetinovic for Codrops" />
    <!-- Favicons (created with http://realfavicongenerator.net/)-->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/img/favicons/apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/img/favicons/apple-touch-icon-60x60.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('assets/img/favicons/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('assets/img/favicons/favicon-16x16.png') }}" sizes="16x16">
    <link rel="manifest" href="{{ asset('assets/img/favicons/manifest.json') }}">
    <link rel="shortcut icon" href="{{ asset('assets/img/favicons/favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#00a8ff">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Normalize -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/normalize.css') }}">
    <!-- Owl -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/owl.css') }}">
    <!-- Animate.css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/animate.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/fonts/font-awesome-4.1.0/css/font-awesome.min.css') }}">
    <!-- Elegant Icons -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/fonts/eleganticons/et-icons.css') }}">
    <!-- Main style -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/cardio.css') }}">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.css') }}">
</head>
<body>
<div class="preloader">
    <img src="{{ asset('assets/img/loader.gif') }}" alt="Preloader image">
</div>
{% block navbar %}
<nav class="navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('assets/img/logo-kine.png') }}" alt="" height="72" width="72"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-nav">
                <li><a href="#intro">Accueil</a></li>
                <li><a href="#services">Soins</a></li>
                <li><a href="#team">Kinés</a></li>
                <li><a href="#pricing">Tarifs</a></li>
                {% if app.user() %}
                    {% if "ROLE_ADMIN" in app.user.roles %}
                        <li><a href="{{ path('app_logout') }}" class="btn btn-blue">Se déconnecter</a></li>
                        <li><a href="{{ path('patients') }}" class="btn btn-blue">Patients</a></li>
                    {% else %}
                        <li><a href="{{ path('app_logout') }}" class="btn btn-blue">Se déconnecter</a></li>
                        <li><a href="{{ path('app_profil', {'id': app.user.id}) }}" class="btn btn-blue">Profil</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ path('login') }}" class="btn btn-blue">Se connecter</a></li>
                    <li><a href="{{ path('app_register') }}" class="btn btn-blue">S'inscrire</a></li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
{% endblock %}
{% block header %}
    <header id="intro">
        <div class="container">
            <div class="table">
                <div class="header-text">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            {% if app.user %}
                                <h3 class="light white">Bienvenue {{ app.user.email }}</h3>
                            {% endif %}
                            <h2 class="light white">153 avenue du général Leclerc, 33600 Pessac</h2>
                            <h1 class="white typed">Masseurs-Kinésithérapeutes</h1>
                            <span class="typed-cursor">|</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block body %}
<section>
    <div class="cut cut-top"></div>
    <div class="container">
        <div class="row intro-tables">
            <div class="col-md-4">
                <div style="background-color: red" class="intro-table">
                    <h5 class="white heading">Today's Schedule</h5>
                    <div class="owl-carousel owl-schedule bottom">
                        <div class="item">
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Early Exercise</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">8:30 - 10:00</h5>
                                </div>
                            </div>
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Muscle Building</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">8:30 - 10:00</h5>
                                </div>
                            </div>
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Cardio</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">8:30 - 10:00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Early Exercise</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">8:30 - 10:00</h5>
                                </div>
                            </div>
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Muscle Building</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">8:30 - 10:00</h5>
                                </div>
                            </div>
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Cardio</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">8:30 - 10:00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Early Exercise</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">8:30 - 10:00</h5>
                                </div>
                            </div>
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Muscle Building</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">8:30 - 10:00</h5>
                                </div>
                            </div>
                            <div class="schedule-row row">
                                <div class="col-xs-6">
                                    <h5 class="regular white">Cardio</h5>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h5 class="white">8:30 - 10:00</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div style="background-color: #4cae4c" class="intro-table">
                    <h5 class="white heading hide-hover">Premium Membership</h5>
                    <div class="bottom">
                        <h4 class="white heading small-heading no-margin regular">Register Today</h4>
                        <h4 style="margin-bottom: 10px" class="white heading small-pt">20% Discount</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div style="background-color: #00a8ff" class="intro-table">
                    <h5 class="white heading">Happy Clients</h5>
                    <div class="owl-testimonials bottom">
                        <div class="item">
                            <h4 class="white heading content">I couldn't be more happy with the results!</h4>
                            <h5 class="white heading light author">Adam Jordan</h5>
                        </div>
                        <div class="item">
                            <h4 class="white heading content">I can't believe how much better I feel!</h4>
                            <h5 class="white heading light author">Greg Pardon</h5>
                        </div>
                        <div class="item">
                            <h4 class="white heading content">Incredible transformation and I feel so healthy!</h4>
                            <h5 class="white heading light author">Christina Goldman</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="section section-padded">
    <div class="container">
        <div class="row text-center title">
            <h2>Soins</h2>
            <h4 class="light muted">Prenez soin de vous.</h4>
        </div>
        <div class="row services">
            <div class="col-md-4">
                <div class="service">
                    <div class="icon-holder">
                        <img src="{{ asset('assets/img/icons/heart-blue.png') }}" alt="" class="icon">
                    </div>
                    <h4 class="heading">Soins kinés</h4>
                    <p class="description">Rééducation</p>
                    <p class="description">Sénologie</p>
                    <p class="description">Ondes de choc</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <div class="icon-holder">
                        <img src="{{ asset('assets/img/icons/car--v1.png') }}" alt="" class="icon">
                    </div>
                    <h4 class="heading">Prise en charge à domicile</h4>
                    <p class="description">Sur prescription médicale, nous nous déplaçons pour vous.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <div class="icon-holder">
                        <img src="{{ asset('assets/img/icons/massage.png') }}" alt="" class="icon">
                    </div>
                    <h4 class="heading">Soins hors nomenclature</h4>
                    <p class="description">Massage</p>
                    <p class="description">Endermologie</p>
                    <p class="description">Drainage lymphatique</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cut cut-bottom"></div>
</section>
<section id="team" class="section gray-bg">
    <div class="container">
        <div class="row title text-center">
            <h2 class="margin-top">Kinés</h2>
            <h4 class="light muted">We're a dream team!</h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="team text-center">
                    <div class="cover" style="background:url('{{ asset('assets/img/team/team-cover1.jpg') }}'); background-size:cover;">
                        <div class="overlay text-center">
                            <h3 class="white">$69.00</h3>
                            <h5 class="light light-white">1 - 5 sessions / month</h5>
                        </div>
                    </div>
                    <img src="{{ asset('assets/img/team/team3.jpg') }}" alt="Team Image" class="avatar">
                    <div class="title">
                        <h4>Fernando</h4>
                        <h5 class="muted regular">Rééducation</h5>
                    </div>
                    <button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Sign Up Now</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team text-center">
                    <div class="cover" style="background:url('{{ asset('assets/img/team/team-cover2.jpg') }}'); background-size:cover;">
                        <div class="overlay text-center">
                            <h3 class="white">$69.00</h3>
                            <h5 class="light light-white">1 - 5 sessions / month</h5>
                        </div>
                    </div>
                    <img src="{{ asset('assets/img/team/team1.jpg') }}" alt="Team Image" class="avatar">
                    <div class="title">
                        <h4>Nathalie</h4>
                        <h5 class="muted regular">Kinésithérapies cardiovasculaire et respiratoire</h5>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill ripple">Sign Up Now</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team text-center">
                    <div class="cover" style="background:url('{{ asset('assets/img/team/team-cover3.jpg') }}'); background-size:cover;">
                        <div class="overlay text-center">
                            <h3 class="white">$69.00</h3>
                            <h5 class="light light-white">1 - 5 sessions / month</h5>
                        </div>
                    </div>
                    <img src="{{ asset('assets/img/team/team2.jpg') }}" alt="Team Image" class="avatar">
                    <div class="title">
                        <h4>Lilian</h4>
                        <h5 class="muted regular">Osthéopathie</h5>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill ripple">Sign Up Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="pricing" class="section">
    <div class="container">
        <div class="row title text-center">
            <h2 class="margin-top white">Tarifs</h2>
            <h4 class="light white">Choose your favorite pricing plan and sign up today!</h4>
        </div>
        <div class="row no-margin">
            <div class="col-md-7 no-padding col-md-offset-5 pricings text-center">
                <div class="pricing">
                    <div class="box-main active" data-img="img/pricing1.jpg">
                        <h4 class="white">Yoga Pilates</h4>
                        <h4 class="white regular light">$850.00 <span class="small-font">/ year</span></h4>
                        <a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-white-fill">Sign Up Now</a>
                        <i class="info-icon icon_question"></i>
                    </div>
                    <div class="box-second active">
                        <ul class="white-list text-left">
                            <li>One Personal Trainer</li>
                            <li>Big gym space for training</li>
                            <li>Free tools &amp; props</li>
                            <li>Free locker</li>
                            <li>Free before / after shower</li>
                        </ul>
                    </div>
                </div>
                <div class="pricing">
                    <div class="box-main" data-img="img/pricing2.jpg">
                        <h4 class="white">Cardio Training</h4>
                        <h4 class="white regular light">$100.00 <span class="small-font">/ year</span></h4>
                        <a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-white-fill">Sign Up Now</a>
                        <i class="info-icon icon_question"></i>
                    </div>
                    <div class="box-second">
                        <ul class="white-list text-left">
                            <li>One Personal Trainer</li>
                            <li>Big gym space for training</li>
                            <li>Free tools &amp; props</li>
                            <li>Free locker</li>
                            <li>Free before / after shower</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block footer %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center-mobile">
                <h3 class="white">Ici API Maps</h3>
                <h5 class="light regular light-white">Shape your body and improve your health.</h5>
                <a href="#" class="btn btn-blue ripple trial-button">Start Free Trial</a>
            </div>
            <div class="col-sm-6 text-center-mobile">
                <h3 class="white">Opening Hours <span class="open-blink"></span></h3>
                <div class="row opening-hours">
                    <div class="col-sm-6 text-center-mobile">
                        <h5 class="light-white light">Mon - Thi</h5>
                        <h3 class="regular white">8:00 - 20:00</h3>
                    </div>
                    <div class="col-sm-6 text-center-mobile">
                        <h5 class="light-white light">Friday</h5>
                        <h3 class="regular white">8:00 - 19:00</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bottom-footer text-center-mobile">
            <div class="col-sm-8">
                <p>&copy; 2015 All Rights Reserved. Powered by <a href="http://www.phir.co/">PHIr</a> exclusively for <a href="http://tympanus.net/codrops/">Codrops</a></p>
            </div>
            <div class="col-sm-4 text-right text-center-mobile">
                <ul class="social-footer">
                    <li><a href="http://www.facebook.com/pages/Codrops/159107397912"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="http://www.twitter.com/codrops"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/101095823814290637419"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
<!-- Holder for mobile navigation -->
<div class="mobile-nav">
    <ul>
    </ul>
    <a href="#" class="close-link"><i class="arrow_up"></i></a>
</div>
{% block scripts %}
<!-- Scripts -->
<script src="{{ asset('assets/js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/wow.min.js') }}"></script>
<script src="{{ asset('assets/js/typewriter.js') }}"></script>
<script src="{{ asset('assets/js/jquery.onepagenav.js') }}"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}
</body>

</html>

